<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086445183603-njbuj8ieao889ok924a00pcjl7tojmps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086445183603-njbuj8ieao889ok924a00pcjl7tojmps</string>
	<key>API_KEY</key>
	<string>AIzaSyB4o5cdu1CQ53DpFDuBGY9x8Jnk0iq_BGU</string>
	<key>GCM_SENDER_ID</key>
	<string>1086445183603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.twoa</string>
	<key>PROJECT_ID</key>
	<string>two-a-app</string>
	<key>STORAGE_BUCKET</key>
	<string>two-a-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086445183603:ios:b3d32388aa3ef500874006</string>
</dict>
</plist>