<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>740596525799-chdqobd96kjpg9gdmihuri214guqr2nu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740596525799-chdqobd96kjpg9gdmihuri214guqr2nu</string>
	<key>API_KEY</key>
	<string>AIzaSyBq7DwbIx3jSBJellRR3l1uLFjTwR-l5nk</string>
	<key>GCM_SENDER_ID</key>
	<string>740596525799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wavesinall.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mydaftari-3c3a1</string>
	<key>STORAGE_BUCKET</key>
	<string>mydaftari-3c3a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740596525799:ios:bc1dfad0e8ba7505f29042</string>
</dict>
</plist>